# Definir el puerto de comunicación para el servidor local
PORT=tu_puerto

# Establecer la clave secreta para la firma y validación de los tokens JWT
JWT_SECRET=tu_clave

# Especificar el entorno de ejecución de la aplicación (development/production)
NODE_ENV=development

# Especificar la base de datos en MongoDB
MONGO_URI=tu_base_de_datos