/* ESTILO GLOBAL */
body {
    font-family: 'Nunito', sans-serif;
}

/* LOADER */
/* Loader de Germinación */
.seed-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seed {
    width: 20px;
    height: 20px;
    background-color: #A37E2C;
    /* Color semilla */
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    transform: rotate(-45deg);
    animation: sprout-seed 2s infinite ease-in-out;
}

.sprout {
    width: 4px;
    height: 0;
    background-color: #4ADE80;
    /* Color brote */
    border-radius: 2px;
    transform-origin: bottom center;
    animation: grow-sprout 2s infinite ease-in-out;
}

.ground {
    width: 80px;
    height: 4px;
    background-color: #5D4037;
    /* Color tierra */
    border-radius: 2px;
}

/* Keyframes de la animación */
@keyframes sprout-seed {

    0%,
    100% {
        transform: rotate(-45deg) translateY(0);
    }

    50% {
        transform: rotate(-45deg) translateY(-10px);
    }
}

@keyframes grow-sprout {

    0%,
    20% {
        height: 0;
    }

    50%,
    100% {
        height: 30px;
    }
}